.page-main {
    font-family: 'STHeiti';
}

.main-container {
    padding: 20px 20px 60px 20px;
    box-sizing: border-box;
}

.header-container {
    .select-container {
        position: absolute;
        right: 210px;
        top: 18%;
    }
}